### Laravel ###
vendor/
node_modules/

# Laravel 5 & Lumen specific
.env.*.php
.env.php

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

/build/logs
/build/coverage


/app/tests/_log


composer.phar


.DS_Store


/.idea
/_ide_helper.php


/app/config/packages
/public/packages

